@import "tailwindcss";

@theme {
  --color-brand-orange: #ffa100;
  --color-brand-charcoal: #313131;
  --color-brand-beige: #c7c0ae;
  --color-brand-cream: #faf1e6;
  --color-brand-sage: #94a692;
  
  --font-vietnam: var(--font-vietnam);
}

:root {
  --font-vietnam: 'Be Vietnam Pro', sans-serif;
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-charcoal);
}
